<div class="center-container">
  <div class="form-wrapper">
    <h2>Reset Your Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" placeholder="Enter your email">
      <div class="error" *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched">
        * Email is required and must be valid.
      </div>
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
    </form>
  </div>
</div>
