<h2>Sign Up</h2>
<form [formGroup]="signupForm" (ngSubmit)="signup()">
  
  <label for="username">Username:</label>
  <input id="username" formControlName="username" type="text" placeholder="Enter your username">
  <div class="error" *ngIf="signupForm.controls['username'].invalid && signupForm.controls['username'].touched">
    * Username must be at least 3 characters long.
  </div>

  <label for="email">Email:</label>
  <input id="email" formControlName="email" type="email" placeholder="Enter your email">
  <div class="error" *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched">
    * Email is required and must be valid.
  </div>

  <label for="phone">Phone Number:</label>
  <input id="phone" formControlName="phone" type="text" placeholder="Enter your phone number">
  <div class="error" *ngIf="signupForm.controls['phone'].invalid && signupForm.controls['phone'].touched">
    * Phone number must be 10 digits.
  </div>

  <label for="password">Password:</label>
  <input id="password" type="password" formControlName="password" placeholder="Enter your password">
  <div class="error" *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched">
    * Password must be at least 6 characters.
  </div>

  <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
</form>